.metadata/
Lecture-Web/.settings/
Servers/
Lecture-Web/ser/main/webapp/html/playlist/Wildlife.wmv
Lecture-Web/ser/main/webapp/html/playlist/movie.mp4
Lecture-Web/WebContent/ajax/exam02/boxOffice2.jsp
Lecture-Web/WebContent/ajax/exam02/boxOffice.jsp
